<?xml version='1.0' encoding='UTF-8'?>
<widget>
  <widgetname>PresenTimer</widgetname>
  <description>Timer for presentation. Shows current and passed time.</description>
  <width>180</width>
  <height>32</height>
  <author>
    <name>Yutaka HARA</name>
    <email>yutaka hara at gmail com</email>
    <link>http://route477.net/</link>
    <organization>Route477</organization>
  </author>
  <id>
    <host>route477.net</host>
    <name>PresenTimer</name>
    <revised>2009-07-16</revised>
  </id>
</widget>
